@import url("@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section1{
    height: 250vh;
    width: 100%;
    background: url("./WhatsApp\ Image\ 2022-10-15\ at\ 11.01.58\ PM.jpeg");
    position: relative;
}

.section1::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
 .section1 .para{
    padding: 60px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    z-index: 1;
    position: absolute;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    text-indent: 120px;
    
 }

 @media (max-width:400px){
    .section1{
        height: 600vh;
    }
    
     .section1 .para{
        padding: 40px;
        font-size: 20px;
        letter-spacing: 2px;
        word-spacing: 3px;
        line-height: 40px;
        text-indent: 10px;
        
     }
    

 }